body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 20%;
    color: #fff;
    min-width:320px ;
max-width:800px 
}

fieldset{
    border: 3px solid #3B0F94;
}

legend{
    border: 1px solid #3B0F94;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background:none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
}

.inputUser:focus ~ .labelInput, 
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 13px;
    color:#3B0F94 ;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 8px ;
    outline: none;
    font-size: 15px;
}

#update{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #3B0F94;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #D9D9D9;
    transition: 2s;
}

#submit{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #3B0F94;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #D9D9D9;
    transition: 2s;
}

#submit:hover{
    background-color: #5E17EB;
}